<include file="Public/header_auth" />
    <div class="container">
        <div class="page-header">
            <h1>添加学校</h1>
        </div>
        <form method="post" style="margin-bottom: 20px">
            <div class="form-group">
                <label for="data" class=".sr-only">数据</label>
                <textarea name="data" id="data" class="form-control" rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block" id="submit">提交</button>
        </form>
    </div>

<include file="Public/footer" />
