<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="__PUBLIC__/img/favicon.ico?v=__VERSION__">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css" media="all">
    <title>{$title}</title>

    <style>
        .page-header {
            margin-top: 20px;
        }
    </style>
</head>

<body>
