<include file="Public/header" />

    <div class="container">
        <div class="page-header">
            <h1>{$title}</h1>
        </div>

        <ul class="list-group">
          <li href="#" class="list-group-item">
            <h4 class="list-group-item-heading">公司地址</h4>
            <p class="list-group-item-text">深圳市南山区桃源街道丽山路大学城创业园1006室</p>
          </li>
          <li href="#" class="list-group-item">
            <h4 class="list-group-item-heading">公司电话</h4>
            <p class="list-group-item-text">0755-86060518</p>
          </li>
          <li href="#" class="list-group-item">
            <h4 class="list-group-item-heading">办事处地址</h4>
            <p class="list-group-item-text">江西省南昌市高新开发区高新一路190号金边瑞香苑金樱阁A单元908室</p>
          </li>
          <li href="#" class="list-group-item">
            <h4 class="list-group-item-heading">办事处电话</h4>
            <p class="list-group-item-text">0791-88357753</p>
          </li>
          <li href="#" class="list-group-item">
            <h4 class="list-group-item-heading">联系人</h4>
            <p class="list-group-item-text">张 生</p>
          </li>
          <li href="#" class="list-group-item">
            <h4 class="list-group-item-heading">公司邮箱</h4>
            <p class="list-group-item-text">zte_zy2014@126.com</p>
          </li>
        </ul>
    </div>

<include file="Public/footer" />

