<include file="Public/header" />

    <div class="container">
        <div class="page-header">
            <h1>{$title}</h1>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">中兴华为PTN/OTN工程师</div>
          <div class="panel-body">
            一年以上工作经验，江西、浙江、广东省內工作，要求一周内到岗，待遇面议。
          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">华为数据通信工程师</div>
          <div class="panel-body">
            一年以上经验，江西、浙江、广东省內工作，要求一周内到岗，待遇面议。
          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">督导实习生若干名，要求如下</div>
          <div class="panel-body">
            <ul>
              <li>解通信行业，具备无线通信理论基础。</li>
              <li>电脑操作熟练，有一定办公软件使用技能。</li>
              <li>身体健康，吃苦耐劳，能适应长期出差。</li>
              <li>工作地点：江西、浙江、广东。</li>
              <li>待遇说明：1800元/月，提供住宿。</li>
            </ul>
          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">实习生、应届毕业生、转网通信工程师若干名，要求如下</div>
          <div class="panel-body">
            <ul>
              <li>办公软件操作熟练，有通信理论基础。</li>
              <li>项目周期1年，江西、浙江、广东省内工作，一周内到岗。</li>
            </ul>
          </div>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">快递运营部储备店长若干名</div>
          <div class="panel-body">

          </div>
        </div>
    </div>

<include file="Public/footer" />
